@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&family=Oswald&display=swap');

.number {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 24px !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nowrap {
  white-space: nowrap;
}
